<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <a (click)="syncdata()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm cursor-pointer"><i
      class="fas fa-sync fa-sm text-white-50"></i> Sync Data</a>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Filters</h4>
        <h6 class="text-muted mt-3">Search Symbol</h6>
        <div class="d-flex" role="search">
          <input class="form-control form-control-sm me-2" [(ngModel)]="symbolModal" type="search" placeholder="Search"
            aria-label="Search">
        </div>

        <h6 class="text-muted mt-3"> Stock Universe</h6>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" [(ngModel)]="nifty_50">
          <label class="form-check-label" for="flexCheckDefault">
            Nifty 50
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" [(ngModel)]="nifty_it">
          <label class="form-check-label" for="flexCheckDefault">
            Nifty IT
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" [(ngModel)]="nifty_bank">
          <label class="form-check-label" for="flexCheckDefault">
            Nifty Bank
          </label>
        </div>

        <h6 class="text-muted mt-3"> Industry</h6>
        <select class="form-control form-control-sm" aria-label=".form-select-sm example" [(ngModel)]="industry">
          <option value="" selected>Select Industry</option>
          <option *ngFor="let item of industryList" value="{{item?.industry}}">{{item?.industry}}</option>
        </select>

        <h6 class="text-muted mt-3"> Score (>={{score}})</h6>
        <input type="input" class="form-control form-control-sm" [(ngModel)]="score">

        <h6 class="text-muted mt-3"> Delivery (>={{deliveryPercent}}%)</h6>
        <input type="range" min="1" max="100" class="form-range" id="deliverypercent" (change)="rangeUpdate($event)"
          [(ngModel)]="deliveryPercent">

        <h6 class="text-muted mt-3"> Avg Total Score (>={{avgtotalscore}})</h6>
        <input type="input" class="form-control form-control-sm" [(ngModel)]="avgtotalscore">

        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-success " type="submit" (click)="searchSymbol()">Search</button>
          <button class="btn btn-warning ms-2" type="submit" (click)="clearmodal()">Reset</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div *ngIf="loading" class="d-flex align-items-center">
      <strong>Loading...</strong>
      <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>
    <h4>Details as on Trading date <b>{{topList[0]?.TRADING_DATE|date:'dd, MMM, yyyy'}}</b></h4>
    <div class="table-responsive">
      <table class="table caption-top" aria-describedby="nocaption">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Symbol</th>
            <th scope="col">Industry</th>
            <th scope="col" class="text-end">Score</th>
            <th scope="col" class="text-end">Avg Total Score</th>
            <th scope="col" class="text-end">Delivery (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of topList;let i=index;">
            <th scope="row">{{i+1}}</th>
            <td>
              <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#symbolmodal"
                (click)="gotodetails(item)">{{item.SYMBOL}}</a>
            </td>
            <td>{{item.INDUSTRY}}</td>
            <td class="text-end">{{item.SCORE}}</td>
            <td class="text-end">{{item.AVG_TOTAL_SCORE}}</td>
            <td class="text-end">{{item.DELIVERABLE_PERCENT}}%</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="symbolmodal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-4 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body p-1">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Symbol</div>
                    <div class="h4 mb-0 font-weight-bold text-gray-800">{{symbolModalDet}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body p-1">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Score</div>
                    <div class="h4 mb-0 font-weight-bold text-gray-800">{{scoreDet}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body p-1">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Avg Total Score</div>
                    <div class="h4 mb-0 font-weight-bold text-gray-800">{{avgtotalscoreDet}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-symbol-details [avgtotalscore]="avgtotalscoreDet" [score]="scoreDet"
          [symbolModal]="symbolModalDet"></app-symbol-details>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>