 
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered caption-top">
                        <caption>Symbol details</caption>
                        <thead>
                            <th> # </th>
                            <th> TQ/NT </th>
                            <th> DEL% </th>
                            <th> TTQ </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-9">

    </div>
</div>