<main class="main">
  <div class="container-fluid px-0">

    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Trading Trial</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
            </li>
            

          </ul>
         
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="d-flex flex-column flex-shrink-0 bg-light col-md-2 " style="width: 4.5rem;">
         
          <!-- Sidebar -->
          
        <!-- End of Sidebar -->
         
      </div>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>